footer {
    background-color: rgba(8, 8, 8, 0.979);
}


#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;

}


#copyright {
    color: #ff0000;
    font-weight: 10;
    letter-spacing: 3px;

    
}


@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}